# Node Modules & Dependencies
node_modules/
.npm/
*.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build & Dist Files
dist/
out/
*.tsbuildinfo

# Temporary Files
.tmp/
.cache/
coverage/

# OS-Specific Files
.DS_Store
Thumbs.db

# Editor & IDE Files
.vscode/
.idea/
*.sublime-workspace

# Environment Variables
.env
.env.local
.env.*.local

# My Tools
push-to-remotes.bat